<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Internal Server Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<pre>{{error_msg}}</pre>
<p>Please reference the following id when requesting support:</p>
<pre>{{error_id}}</pre>
</body>
</html>